@import url(https://fonts.googleapis.com/css?family=Dokdo|Nobile|Roboto);

.App {
	text-align: center;
	display: grid;
	height: 100vh;
	grid-template-rows: 100px 553px 553px 553px 553px;
	grid-template-columns: 50% 50%;
	grid-template-areas: "nav nav" "pic1 text1" "text2 pic2" "pic3 text3" "form footer";
	font-family: 'Roboto', sans-serif;
}

.nav {
	grid-area: nav;
	background-color: #fefefe;
	position: sticky;
	position: -webkit-sticky;
	top: 0px;
	z-index: 10;
	height: 100%;
	min-height: 100%;
	overflow: scroll;
	display: grid;
	grid-template-columns: 20% 60% 20%;
	grid-template-rows: 100%;
	grid-template-areas: "phone logo sideBar";
}

.form {
	grid-area: form;
	display: grid;
	grid-template-rows: 20% 80%;
	grid-template-columns: 100%;
	grid-template-areas: "title1" "form2";
	background-color: #f3eec3;
}

.phone {
	grid-area: phone;
	top: 0px;
	color: rgba(255, 255, 255, 0);
	margin: auto;
	font-size: 1.5em;
	background: -webkit-gradient(linear, left top, right top, from(black), to(black), color-stop(0.5, #fff));
	-webkit-background-size: 125px 100%;
	background-size: 425px 100%;
	-webkit-background-clip: text;
	-webkit-animation-name: shimmer;
	-webkit-animation-duration: 6s;
	-webkit-animation-iteration-count: infinite;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-color: #222;
}
@-webkit-keyframes shimmer {
	0% {
		background-position: top left;
	}
	100% {
		background-position: top right;
	}
}

.phone:hover {
	font-weight: bold;
	transition: 500ms;
}

.logo {
	grid-area: logo;
	margin: auto;
}

.form2 {
	grid-area: form2;
	display: grid;
	grid-template-rows: 3.3fr 3.3fr 3.3fr;
	grid-template-columns: 50% 50%;
	grid-template-areas: "telephone message" "name message" "email submit";
	padding-top: 20px;
	grid-gap: 20px;
	margin: 30px;
}
.email {
	grid-area: email;
	max-height: 50px;
	border: double;
	border-color: #f3eec3;
	font-size: 1em;
	padding: 5px;
	border-radius: 25px;
}

.email:focus {
	outline: none;
	border: 3px solid #555;
	transition: 500ms;
	opacity: 0.8;
}

.telephone {
	grid-area: telephone;
	max-height: 50px;
	border: double;
	border-color: #f3eec3;
	font-size: 1em;
	padding: 5px;
	border-radius: 25px;
}

.telephone:focus {
	outline: none;
	border: 3px solid #555;
	transition: 500ms;
	opacity: 0.8;
}

.name {
	grid-area: name;
	max-height: 50px;
	border: double;
	border-color: #f3eec3;
	font-size: 1em;
	padding: 5px;
	border-radius: 25px;
}

.name:focus {
	outline: none;
	border: 3px solid #555;
	transition: 500ms;
	opacity: 0.8;
}

.message {
	grid-area: message;
	border: double;
	border-color: #f3eec3;
	padding-top: 15px;
	padding-left: 5px;
	border-radius: 25px;
	padding-right: 5px;
	font-size: 1em;
	vertical-align: top;
	text-align: left;
}
.message::placeholder {
	vertical-align: top;
	text-align: left;
	font-size: 1em;
}

.message:focus {
	outline: none;
	border: 3px solid #555;
	transition: 500ms;
	opacity: 0.8;
}

.submit {
	grid-area: submit;
	background-color: #4caf50;
	max-height: 65px;
	border: double;
	font-size: 1em;
	padding: 5px;
	border-radius: 25px;
	color: white;
}

.submit:hover {
	font-weight: bold;
	transition: 500ms;
	-webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
		5px 5px 15px 20px rgba(162, 255, 28, 0.71);
	box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 20px rgba(162, 255, 28, 0.71);
}

#pic1 {
	border: groove;
	border-color: #f3eec3;
	border-radius: 50%;
}
#pic2 {
	border: groove;
	border-color: #f3eec3;
}
#pic3 {
	border: groove;
	border-color: #f3eec3;
	border-radius: 50%;
}

#pic1:hover {
	transition-duration: 500ms;
	border-radius: 0px 6px 6px 0px;
}

#pic2:hover {
	border-radius: 50%;
	transition-duration: 500ms;
}
#pic3:hover {
	border-radius: 0px 6px 6px 0px;
	transition-duration: 500ms;
}

.text1 {
	grid-area: text1;
	background-color: #fefefe;
	display: grid;
	grid-template-rows: 20% 80%;
	grid-template-columns: 100%;
	grid-template-areas: "title1" "text1";
}

.title1 {
	grid-area: title1;
	font-size: 2.2em;
	margin-top: 5%;
	margin-bottom: 20px;
	opacity: 0.5;
	transition: 500ms;
}

.title1:hover {
	-webkit-text-fill-color: #555;
	transition: 500ms;
}

.innertext1 {
	grid-area: text1;
	font-size: 1.4em;
	margin-left: 20%;
	margin-right: 20%;
	line-height: 2;
}

.innertext1:hover {
	-moz-transform: scale(1.05) translate(0px, 10px);
	-webkit-transform: scale(1.05) translate(0px, 10px);
	-o-transform: scale(1.05) translate(0px, 10px);
	-ms-transform: scale(1.05) translate(0px, 10px);
	transform: scale(1.05) translate(0px, 10px);
	transition: 500ms;
}

.text2 {
	grid-area: text2;
	background-color: #f7af9d;
	display: grid;
	grid-template-rows: 30% 70%;
	grid-template-areas: "title2" "text2";
}

.title2 {
	grid-area: title2;
	font-size: 2.2em;
	margin-top: 10%;
	opacity: 0.5;
	transition: 500ms;
}

.title2:hover,
.title3:hover {
	-webkit-text-fill-color: #555;
	transition: 500ms;
}

.innertext2 {
	grid-area: text2;
	font-size: 1.4em;
	margin-left: 20%;
	margin-right: 20%;
	line-height: 2;
}

.innertext2:hover {
	-moz-transform: scale(1.05) translate(0px, 10px);
	-webkit-transform: scale(1.05) translate(0px, 10px);
	-o-transform: scale(1.05) translate(0px, 10px);
	-ms-transform: scale(1.05) translate(0px, 10px);
	transform: scale(1.05) translate(0px, 10px);
	transition: 500ms;
}

.text3 {
	grid-area: text3;
	background-color: #c08497;
	display: grid;
	grid-template-rows: 30% 70%;
	grid-template-areas: "title3" "text3";
}

.title3 {
	grid-area: title3;
	font-size: 2.2em;
	margin-top: 10%;
	opacity: 0.5;
	transition: 500ms;
}
.innertext3 {
	font-size: 1.4em;
	margin-left: 20%;
	margin-right: 20%;
	line-height: 2;
}
.innertext3:hover {
	-moz-transform: scale(1.05) translate(0px, 10px);
	-webkit-transform: scale(1.05) translate(0px, 10px);
	-o-transform: scale(1.05) translate(0px, 10px);
	-ms-transform: scale(1.05) translate(0px, 10px);
	transform: scale(1.05) translate(0px, 10px);
	transition: 500ms;
}

#pic2 {
	width: 100%;
	max-height: 100%;
	transform: scale(0.95);
	transition-timing-function: ease;
	transition-duration: 500ms;
}

@media (max-width: 1630px) {
	.App {
		grid-template-rows: 100px 453px 453px 453px 453px;
		transition-timing-function: ease;
		transition-duration: 500ms;
	}
	#pic1 {
		width: 100%;
		max-height: 100%;
		transform: scale(0.95);
		transition-timing-function: ease;
		transition-duration: 500ms;
	}

	#pic3 {
		width: 100%;
		max-height: 100%;
		transform: scale(0.95);
		transition-timing-function: ease;
		transition-duration: 500ms;
	}
	.title1 {
		font-size: 1.8em;
		transition: 500ms;
	}

	.innertext1 {
		font-size: 1.2em;

		/* margin-top: 7%; */
	}
	.title2,
	.title3 {
		font-size: 1.8em;
		transition: 500ms;
	}

	.innertext2,
	.innertext3 {
		font-size: 1.2em;
	}

	.form {
		grid-area: form;
		display: grid;
		grid-template-rows: 10% 90%;
		grid-template-columns: 100%;
		grid-template-areas: "title1" "form2";
		background-color: #f3eec3;
	}
}

@media (max-width: 1300px) {
	.App {
		grid-template-rows: 100px 353px 353px 353px 353px;
	}
	#pic1 {
		width: 100%;
		max-height: 100%;
		transform: scale(0.9);
		transition-timing-function: ease;
		transition-duration: 500ms;
	}
	#pic2 {
		width: 100%;
		max-height: 100%;
		transform: scale(0.9);
		transition-timing-function: ease;
		transition-duration: 500ms;
	}
	#pic3 {
		width: 100%;
		max-height: 100%;
		transform: scale(0.9);
		transition-timing-function: ease;
		transition-duration: 500ms;
	}
	.title1,
	.title2,
	.title3 {
		font-size: 1.7em;
		transition: 500ms;
		transition-timing-function: ease;
		transition-duration: 500ms;
	}

	.innertext1 {
		margin-left: 15%;
		margin-right: 15%;
		line-height: 1.7;
		font-size: 1.1em;
		transition-timing-function: ease;
		transition-duration: 300ms;
	}
	.innertext2,
	.innertext3 {
		margin-left: 18%;
		margin-right: 18%;
		line-height: 1.7;
		font-size: 1.1em;
		transition-timing-function: ease;
		transition-duration: 300ms;
	}
}

@media (max-width: 1070px) {
	.title2 {
		margin-left: 2%;
		margin-right: 2%;
		margin-top: 8%;
	}
	.innertext2 {
		margin-top: 10px;
		transition-timing-function: ease;
		transition-duration: 300ms;
	}
}

@media (max-width: 1050px) {
	.App {
		grid-template-rows: 100px 320px 320px 320px 320px;
	}
	#pic1 {
		width: 100%;
		max-height: 100%;
		transform: scale(0.95);
		transition-timing-function: ease;
		transition-duration: 500ms;
	}
	#pic2 {
		width: 100%;
		max-height: 100%;
		transform: scale(0.95);
		transition-timing-function: ease;
		transition-duration: 500ms;
	}
	#pic3 {
		width: 100%;
		max-height: 100%;
		transform: scale(0.95);
		transition-timing-function: ease;
		transition-duration: 500ms;
	}
	.title1 {
		font-size: 1.4em;
	}
	.title2,
	.title3 {
		font-size: 1.4em;
		margin-left: 10%;
		margin-right: 10%;
	}

	.innertext1,
	.innertext2,
	.innertext3 {
		line-height: 1.7;
		font-size: 1em;
	}

	.phone {
		font-size: 1.4em;
	}
}

@media (max-width: 950px) {
	.App {
		grid-template-rows: 100px 280px 280px 280px 280px;
	}
	.phone {
		font-size: 1.2em;
	}

	#pic1 {
		width: 100%;
		max-height: 100%;
		transform: scale(0.98);
		transition-timing-function: ease;
		transition-duration: 500ms;
	}
	#pic2 {
		width: 100%;
		max-height: 100%;
		transform: scale(0.98);
		transition-timing-function: ease;
		transition-duration: 500ms;
	}
	#pic3 {
		width: 100%;
		max-height: 100%;
		transform: scale(0.98);
		transition-timing-function: ease;
		transition-duration: 500ms;
	}
	.title1,
	.title3 {
		font-size: 1.3em;
	}

	.innertext1 {
		margin-left: 12%;
		margin-right: 12%;
		line-height: 1.6;
		font-size: 0.95em;
	}
	.innertext2,
	.innertext3 {
		line-height: 1.6;
		font-size: 1em;
	}
}
@media (max-width: 850px) {
	.App {
		text-align: center;
		display: grid;
		grid-template-rows: 100px 360px 260px 360px 260px 360px 260px 360px 260px;
		grid-template-columns: 100%;
		grid-template-areas: "nav" "pic1" "text1" "pic2" "text2" "pic3" "text3" "form" "footer";
	}

	/* #pic1 {
		transform: scale(1);
		transition-timing-function: ease;
		transition-duration: 500ms;
	} */
	/* #pic2 {
		border: none;
		transform: scale(1);
		transition-timing-function: ease;
		transition-duration: 500ms;
	} */
	/* #pic3 {
		border: none;
		transform: scale(1);
		transition-timing-function: ease;
		transition-duration: 500ms;
	} */
	.phone {
		font-size: 1.2em;
	}

	.title1 {
		margin-top: 15px;
		font-size: 1.6em;
	}

	.title2,
	.title3 {
		margin-top: 25px;
		font-size: 1.6em;
	}
	.innertext1,
	.innertext3 {
		line-height: 1.8;
		font-size: 1.05em;
	}
	.innertext2 {
		line-height: 1.8;
		font-size: 1.05em;
		margin-top: 0;
	}
}

@media (max-width: 650px) {
	.App {
		text-align: center;
		display: grid;
		grid-template-rows: 100px 360px 250px 360px 250px 360px 250px 290px 390px;
	}
	.innertext1,
	.innertext3 {
		line-height: 1.7;
		font-size: 1em;
		transition-timing-function: ease;
		transition: 500ms;
	}
	.innertext2 {
		line-height: 1.7;
		font-size: 1em;
		transition-timing-function: ease;
		transition: 500ms;
		margin-right: 15%;
		margin-left: 15%;
	}
	.title2 {
		margin-top: 15px;
	}
}

@media (max-width: 550px) {
	.App {
		text-align: center;
		display: grid;
		grid-template-rows: 70px 300px 280px 300px 280px 300px 280px 250px 150px;
	}
	.title1 {
		margin-top: 15px;
		font-size: 1.5em;
	}
	.title2 {
		font-size: 1.5em;
	}

	.title3 {
		font-size: 1.5em;
		margin-top: 30px;
	}
	.innertext1,
	.innertext2,
	.innertext3 {
		line-height: 1.6;
		font-size: 0.95em;
		transition-timing-function: ease;
		transition: 500ms;
	}

	#nav {
		transform: scale(0.7) translate(0, -20px);
		transition-timing-function: ease;
		transition-duration: 500ms;
		top: 0px;
	}

	.form2 {
		grid-gap: 10px;
		padding-top: 10px;
		transition: 500ms;
	}
	.email {
		font-size: 0.8em;
	}
	.telephone {
		font-size: 0.8em;
	}
	.name {
		font-size: 0.8em;
	}
	.message {
		font-size: 0.8em;
	}
	.submit {
		font-size: 0.8em;
	}
}

@media (max-width: 450px) {
	.App {
		text-align: center;
		display: grid;
		grid-template-rows: 70px 270px 260px 270px 260px 270px 260px 220px 150px;
	}
	.title1,
	.title2,
	.title3 {
		font-size: 1.4em;
	}
	.innertext1 {
		margin-left: 5%;
		margin-right: 5%;
	}
}

@media (max-width: 416px) {
	.App {
		text-align: center;
		display: grid;
		grid-template-rows: 70px 260px 260px 260px 260px 260px 260px 360px 150px;
	}
	.form2 {
		grid-area: form2;
		display: grid;
		grid-template-rows: 17% 17% 17% 29% 17%;
		grid-template-columns: 100%;
		grid-template-areas: "telephone" "name" "email" "message" "submit";
		padding-top: 0px;
		grid-gap: 5px;
		margin: 10px;
	}

	.title1,
	.title2 {
		margin-top: 10px;
		font-size: 1.2em;
		transition-timing-function: ease;
		transition: 500ms;
	}

	.title3 {
		font-size: 1.2em;
		transition-timing-function: ease;
		transition: 500ms;
	}

	.innertext1,
	.innertext2,
	.innertext3 {
		font-size: 0.9em;
	}
}

@media (max-width: 380px) {
	.title1 {
		margin-top: 0px;
	}
	.innertext1,
	.innertext2,
	.innertext3 {
		font-size: 0.85em;
	}
}

#nav {
	height: 100px;
	float: inline-start;
}
.pic1 {
	grid-area: pic1;
	object-fit: cover;
	width: 100%;
	max-height: 100%;
	background-color: #fefefe;
}
.pic2 {
	grid-area: pic2;
	object-fit: cover;
	width: 100%;
	max-height: 100%;
	background-color: #f7af9d;
}

.pic3 {
	grid-area: pic3;
	object-fit: cover;
	width: 100%;
	max-height: 100%;
	background-color: #c08497;
}

.satMap {
	grid-area: footer;
	background-color: #f3eec3;
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 100%;
	grid-template-areas: "map";
	transition-timing-function: ease;
	transition: 500ms;
	padding-right: 25%;
	padding-left: 25%;
}

#map1 {
	grid-area: map;
	border-color: #f3eec3;
	border-radius: 30px;
	overflow: hidden;
	margin-top: 5px;
	background-color: white;
	transform: scale(0.9);
	transition: 1000ms;
}

#pic4 {
	grid-area: map;
	border-radius: 10%;
	border: double;
	transform: scale(0.9);
	border-color: #f3eec3;
	width: 100%;
	height: 100%;
	transition: 1000ms;
	transition-timing-function: ease;
}
